@charset "UTF-8";

/* 목록 */
input[value="목록"]:hover {
	background-color:#6A1310; 
	color:#FFFAF8;
}


/* 이벤트,홍보글 radio CSS */
.click {
	background-color:#9B1E24;
	color:#FFFAF8;
}
input[type="radio"] {  /* radio버튼 업애기 */
	display:none;
}
#radio, label {border-radius:100px;}
#radio {
	position:relative;
	border:1px solid #9B1E24;
}
#radio label {
	position:absolute;
	top:-1px;
	display:block;
	text-align:center;
	cursor:pointer;
}
.ownerChoiceRadio {
	width:180px;
	height:40px;
	margin-left:0;
}
.ownerChoiceRadio label {
	width:100px;
	height:40px;
	line-height:40px;
}

/* 현재 저장되어 있는 파일을 삭제할 것인지 표시하는 radio */
.fileDeleteChoice {
	width:250px;
	height:35px;
	margin-right:0;
	margin-bottom:10px;
}
.fileDeleteChoice label {
	width:130px;
	height:35px;
	line-height:35px;
}

label[for="event"] {left:-1px;}
label[for="promotion"] {right:-1px;}
label[for="false"] {right:-1px;}


/* 게시글 수정 form */
input[type="file"] {border:none; height:30px; margin-bottom:10px;}




