@charset "UTF-8";

/* h1수정 */
.con_title {
	border:none; 
	padding-bottom:60px;
	font-weight:300;
}

#f {
	width:450px;
	font-size:14px; 
	font-weight:500; 
	color:#333;
}
input[type="text"], input[type="password"], textarea {margin-bottom:60px;}
input, button {height:40px;}
#f button {margin-top:50px; margin-bottom:10px;}
#f input:focus {border-color:#9B1E24; color:black;}

#f span {display:block;}



.subLink {
	text-align:center;
}
.subLink a {color:#aaa;}
.subLink a:hover {color:black; font-weight:500;}
.subLink span {padding:0 15px; font-size:13px; color:#aaa;}

