@charset "UTF-8";

/* h1수정 */
.con_title {
	border:none; 
	padding-bottom:60px;
	font-weight:300;
}

/* 회원가입의 form */
#f {
	width:450px;
	font-size:14px; 
	font-weight:500; 
	color:#333;
}

input {height:40px;} /* height 수정 */
input[type="text"], input[type="password"] {margin-bottom:65px;}
textarea {height:235px; margin-bottom:10px;}

#f span {display:block; margin-bottom:60px; font-size:14px;} /* 정규식과 비교, 내용 표시 */
input[name="id"], input[type="password"] {margin-bottom:10px;}

input[id="join_btn"] {
	margin-top:50px; 
	margin-bottom:10px; 
	width:100%;
	height:55px;
	background-color:#9B1E24;
	color: #FFFAF8;
}
#f input:focus {border-color:#9B1E24; color:black;} /* 현재 입력 중인 .input을 확인 할 수 있도록 */


/* 이메일 */
input[name="email"] {width:305px; margin-bottom:30px;}
input[value="인증번호받기"] {padding:0 25px;}
input[type="button"]:hover {
	background-color:#9B1E24;
	color: #FFFAF8;
}
input[name="user_key"] {width:305px;}



/* 개인정보 _체크박스 */
table {width:100%;}
input[type="checkbox"] {height:16px;}
label {
	position:absolute;
	padding-left:5px;
}





