@charset "UTF-8";

/* View에서 h1수정 */
.con_title {
	border:none; 
	padding-bottom:50px;
	font-weight:300;
}


/* 로그인 정보를 넘겨주는 form */
#f {
	width:450px;
	font-size:14px; 
	font-weight:400; 
	color:#aaa;
}

#f button {margin-top:30px; margin-bottom:10px;}  /* 로그인 버튼 */
#f input {border-color:#bf3a3e;} /* 로그인에 필요한 id, pw */


/* 로그인 버튼 하단의 a 태그를 담고 있는 div */
.subLink { 
	text-align:center;
}
.subLink a {color:#aaa;}
.subLink a:hover {color:black; font-weight:400;}
.subLink span {padding:0 15px; font-size:13px; color:#aaa;}

