@charset "UTF-8";

/* 메인 컨텐츠의 titles */
h1 {font-size:30px; font-weight:500;}


/* 1) 음식점 검색창 : BIG */
#mainSearch {
	width:100%;
	height:105px;
	border: 10px solid transparent;
	border-radius:100px; 
	margin:150px 0;
	background-image: linear-gradient(white, white), linear-gradient(to left, #bf3a3e, #66140d, #3e1211);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
#mainSearch #f {
	text-align:center;
	position:relative;
}
input, button, select  {
	border:none;
	background-color:white; 
	height:40px;
	margin:0 15px;
	margin-top:20px;
	font-size:18px;
	font-weight:500;
}
/* select(1) : 지역선택, select(2) : 지역구 선택, select(3) : 음식점 카테고리 선택 */
#mainSearch #f select:nth-child(1) {width:100px;}
#mainSearch #f select:nth-child(2) {width:80px;}
#mainSearch #f select:nth-child(3) {width:155px;}
/* input: 검색어 입력 */
#mainSearch #f input {width:330px; border:none;}
/* button: 검색버튼 */
#mainSearch #f button {width:60px;}
#mainSearch #f button i {
	font-size:36px; 
	position:absolute; 
	top:24px; 
	cursor:pointer; 
	color:#bf3a3e;
}



/* 2) 가게 관리 배너 */
.storebannBox {margin-bottom:150px;}
.storebannBox a {display:block; cursor:pointer;}
.storebannBox img {widht:100%;}



/* 3) 추천 음식점 */
.nothing {
	text-align:center;
	line-height:205px;
	font-size:20px;
	color:#aaa;
}
#recommandStore {
	position:relative;
	margin-bottom:100px;
}
#recommandStore h1 {margin-bottom:15px;}
#recommandStore #storeBox  {display:flex; justify-content:space-between;}
#storeBox .box {
	width:485px;
	height:205px;
	border-radius:45px;
	box-shadow:3px 9px 12px #F4EDEB;
	cursor:pointer;
}
#storeBox .box:nth-child(1) {margin-right:30px;}
#storeBox .box .box_con {float:left;}
#storeBox .box .img  {
	width:180px; 
	height:140px;
	margin:37px 20px 0 35px;
	overflow:hidden;
}
.img a {display:block;}
.img img {
	/* width:140px; */ 
	height:140px; 
}
#storeBox .box .content { margin-top:37px; }
.content h3 {font-size:22px; font-weight:600; margin-bottom:10px;}
.content span {padding-right:6px; color:#aaa; font-size:14px;}
.content .category {
	border-radius:100px;
	background-color:#bf3a3e;
	color:#f8eae1;
	display:inline;
	padding: 1px 10px;
	font-size:12px;
}
.content .p {font-size:15px;}
.content .addr {font-weight:400; display:block; width:225px; overflow:hidden;}
.content .time {color:#333;}
.content .score  {margin-top:10px; margin-bottom:5px;} /* 음식점의 평점 */
.content .score p {display:inline-block; font-size:15px; padding-right:2px;}
.content .review {width:205px; height:45px;}

#recommandStore #return {
	text-align:center; 
	 margin: 30px 10px 0 0 ;
	 /* text-decoration:underline; */
}
#return a {color:#bbb; font-size:15px;}
#return i {margin-left:10px; font-size:17px; color:#aaa;}
#return:hover i {color:#bf3a3e;}



/* 4) 신규 등록 음식점 */
#insertStoreList {}
#insertStoreList h1 {margin-bottom:20px;}
#insertStoreList a {
	text-align:right; 
	color:#888;
	display:flow-root;
	margin-bottom:10px;
}
#insertStoreList a:hover {
	color:black;
	font-weight:600;
}
#insertStoreList #list {
	position:relative;
	height:300px;
}
#insertStoreList #list div {
	width:220px; 
	float:left;
	margin-right:40px;
	overflow:hidden;
}
#insertStoreList #list div:nth-child(4) {margin-right:0;}
#list div img {height:220px;}
#list div h3 {font-size:20px; font-weight:600; margin:5px 0;}
#list div p {}
#list div .storeCategory {
	display:inline-block;
	font-size: 14px;
	padding: 3px 15px;
	margin-right:5px;
	border-radius:100px;
	background-color:#bf3a3e;
	color:#f8eae1;
}