@charset "UTF-8";

/* FindId&FindPw에서 h1수정 */
.con_title {
	border:none; 
	padding-bottom:50px;
	font-weight:300;
}


/* 서브 타이틀 */
h2 {
	text-align:center;
	font-size:20px;
	margin-bottom:80px;
	color:#333;
	font-weight:200;
}


/* 아이디, 비밀번호를 찾기 위한 정보를 넘겨주는 form */
#f {
	width:450px;
	font-size:14px; 
	font-weight:400; 
	color:#aaa;
}
input[type="button"] {padding:0;}

/* 이메일 인증을 담고 있는 div태그 */
.emailBox {}
.emailBox input[type="text"] {
	width:68%; 
	margin-right:20px;
}
.emailBox input[type="text"]:focus {
	border-color:#6A1310;
}
.emailBox input[name="email"] {margin-bottom:0;}
.emailBox input[type="button"] {
	width:120px;
	border-radius:100px;
}
.emailBox input[type="button"]:hover {
	background-color:#6A1310; 
	color:#FFFAF8;
}

/* 이메일 인증 span */
#email_result {
	display: block;
	padding-top:5px; 
	margin-bottom:30px;
}


/* 버튼 */
input[value="아이디 찾기"], input[value="비밀번호 찾기"] {
	width:100%;
	background-color:#6A1310; 
	color:#FFFAF8;
	height:55px;
}
input[value="로그인하러 가기"] {
	border:none;
	display:block;
	margin:0 auto;
	color:#888;
}
input[value="로그인하러 가기"]:hover {
	text-decoration:underline;
}