@charset "UTF-8";

/* .con_title {border:none; padding-bottom:30px;} */
.noticeView_box, .noticeInsert_box {margin:50px 0;}
#f {width:700px;}
input[type="text"], textarea, button {width:100%; margin-bottom:20px;}
input[type="text"], textarea {padding-left:10px;}
input[type="button"], button {cursor:pointer;}
input[type="button"] {padding:0 40px;}
button, input[value="목록"]:hover, input[value="초기화"]:hover {
	background-color:black; 
	color:white;
}
input[value="목록"] {margin:0 10px;}
input[name="writer"] {color:#aaa;}
input[type="text"] {margin-top:5px;}

label {font-size:14px; font-weight:800;}
.btn {float:right; margin-bottom:20px;}
.con {}
#f div {}
button {height:55px;}
textarea {padding-top:10px; height:425px;}



