@charset "UTF-8";

.outer {
	margin: 0 auto;
	padding: 70px;
	width: 500px;
	border: 1px solid lightgray;
	text-align: center;
}

.notice_box {
	font-size: 13px;
	color: red;
}

/*라디오 버튼 삭제*/
input[type="radio"] {
	display: none;
}


.res_box {	
	margin: 50px;
}


.hours_box {
	display: inline-block;
	border: 1px solid black;
	width: 100px;
	height: 50px;
	line-height: 50px;
	border-radius: 5px;
	padding: 5px;
	margin: 10px;
}

.hours_box:hover {
	background-color: #F0F25B;
}


label:hover {
	cursor: pointer;
}


label:checked {  
    color: red;
    font-weight: 700;
}


.red_mark {
	color: crimson;
}

.res_info {
	margin: 10px;
	padding: 10px;
}

.res_req {
	margin-top: 20px;
}

.storeView_box {
	width: 100%;
	text-align: right;
}

.storeView_btn {
	width: 70px;
	height: 40px;
	border-radius: 5px;
	border: none;
}

.storView_btn:hover {
	cursor: pointer;
	font-weight: 700;
}


