@charset "UTF-8";

.outer {
	margin: 0 auto;
	padding-top: 50px;
	width: 900px;
	text-align: center;
}


.int {
	height: 30px;
}

table {
	width: 900px;
	height: 500px;	
	margin: 100px 20px 30px 0;
	text-algin: center;
	padding: 20px;
	border-color: gray;
}

.search_btn:hover {
	cursor: pointer;
	background-color: lightorange;
}

.search_boxes {
	margin: 30px;
	display: flex;
	flex-direction: row;  
    justify-content: space-between;
    align-items: flex-end;
}

.search_box {
	width: 400px;
}

.searchOrder_box {
	width: 300px;
}

th {
	background-color: #FCDCE4;
	font-weight: 500;
}


.hit_text {
	color: crimson;
	font-weight: 500;
}

.hit_text:hover {
	cursor: pointer;
}

/*라디오 버튼 삭제*/
input[type="radio"] {
	display: none;
}


select {padding:0 20px;}
input[value="검색"] {padding:0px 35px;}
