@charset "UTF-8";


.outer {
	margin: 0 auto;
	padding-top: 50px;
	width: 700px;
	text-align: center;
}


.int {
	height: 30px;
	
}

table {
	width: 700px;
	height: 500px;	
	margin: 30px 20px 30px 0;
	text-algin: center;
	padding: 20px;
}

	#paging {
				width: 30%;
				margin: 0 auto;
				display: flex;
				justify-content: space-between;
				text-align: center;
			}
	#paging div {
		width: 40px;
		height: 20px;
	}
	.disable {
		color: silver;
	}
	.link {
		cursor: pointer;
	}
	.now_page {
		color: limegreen;
	}



