@charset "UTF-8";

.outer {
	margin: 0 auto;
	padding-top: 40px;
}

h3 {
	text-align: center;
	margin: 30px;
}	

p {
	text-align: center;	
	font-size: 13px;
	color: red;
	
}

table {
	width: 700px;
	margin-top: 50px;
}


td {
	text-align: center;
	height: 60px;
	padding: 0;
}


td:nth-of-type(2n+1) {
	text-align: center;
}


.int {
	height: 40px;
	padding: 10px;
}


.menu_int {
	width: 200px;
	height: 40px;
	margin-left: 10px;
}

.file_int {
	width: 150px;
	height: 40px;
}

.btn1 {
	font-size: 13px;
	border: none;
	background-color: #E0E0DF;
	margin: 20px;
	height: 30px;
	border-radius: 5px;
	padding: 5px 10px;
}

.btn1:hover {
	cursor: pointer;
}

.btn2 {
	font-size: 13px;
	border: none;
	background-color: #B5ECFA;
	margin-left: 20px;
	height: 30px;
	border-radius: 5px;
	padding: 5px 10px;
}

.btn2:hover {
	cursor: pointer;
	font-weight: 700;
	background-color: #F8FDA5;
}